body {
    background-color: black;
}

.container {
    display: flex; 
    gap: 10px; 
    justify-content:flex-start; 
    align-items: flex-start;  
    margin-top: 10px;
}
.container1 {
    display: flex; 
    gap: 10px; 
    justify-content:center; 
    align-items: center;  
    margin-top: 10px; 
}
.container2 {
    display: flex; 
    gap: 10px; 
    justify-content:flex-end; 
    align-items:flex-end;   
    margin-top: 10px;
}

.item {
    width: 300px; 
    height: 300px; 
    background-color: red; 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 50px;
}
.item1 {
    width: 300px; 
    height: 300px; 
    background-color:blue; 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
 font-size: 50px;
}
.item2 {
    width: 300px; 
    height: 300px; 
    background-color:green; 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
 font-size: 50px;

}



.container3 {
    display: flex; 
    gap: 10px; 
    justify-content:flex-start; 
    align-items: flex-start; 
    flex-direction: column;
    margin-top: 10px; 
}
.container4 {
    display: flex; 
    gap: 10px; 
    justify-content:center; 
    align-items: center; 
    flex-direction: column; 
    margin-top: 10px;
}
.container5{
    display: flex; 
    gap: 10px; 
    justify-content:flex-end; 
    align-items: flex-end; 
    flex-direction: column; 
    margin-top: 10px;
}

.item3 {
    width: 300px; 
    height: 300px; 
    background-color:rgb(38, 0, 255); 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
 font-size: 50px;

}
.item4 {
    width: 300px; 
    height: 300px; 
    background-color:rgb(0, 0, 255); 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
 font-size: 50px;

}
.item5 {
    width: 300px; 
    height: 300px; 
    background-color:rgb(0, 0, 255); 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
 font-size: 50px;

}


.container6{
    display: flex; 
    gap: 10px; 
    justify-content:center; 
    align-items: center; 
    margin-top: 10px;
    
}
.item6 {
    width: 300px; 
    height: 300px; 
    background-color:rgb(51, 0, 255); 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
 font-size: 50px;

}

.container7{
    display: flex; 
    gap: 10px; 
    justify-content:start; 
    align-items: start;
    margin-top: 10px;
    
}
.item7 {
    width: 300px; 
    height: 300px; 
    background-color:rgb(255, 247, 0); 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
 font-size: 50px;

}

.container8{
    display: flex; 
    gap: 10px; 
    justify-content: end; 
    align-items: end; 
    margin-top: 10px;
    
}
.item8 {
    width: 300px; 
    height: 300px; 
    background-color:red; 
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
 font-size: 50px;

}
 
