.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  flex: 1 1 calc(25% - 10px);
  background: rgb(186, 71, 161);
  height: 150px;
}
@media (max-width: 800px) {
  .item {
    flex: 1 1 calc(50% - 10px);
  }
}
@media (max-width: 500px) {
  .item {
    flex: 1 1 100%;
  }
}